:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --orange: #fe8a02;
  --dark-orange: #ea7600;
  --light-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/Open-Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}


/* Стили для body */
.page {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


/* Стили для текста */
.text {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.text_centred {
  text-align: center;
}

.text_color-orange {
  color: var(--orange);
}

.text_color-white {
  color: var(--white);
}

.text_color-opacity-white {
  color: var(--opacity-white);
}

.text_color-opacity-dark {
  color: var(--opacity-dark);
}

.text_color-blue {
  color: var(--blue);
}


/* Стили для заголовков */
.title {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

.title_72-font-size {
  font-size: 72px;
}

.title_60-font-size {
  font-size: 60px;
}

.title_52-font-size {
  font-size: 52px;
}

.title_34-font-size {
  font-size: 34px;
}

.title_24-font-size {
  font-size: 24px;
}

.title_no-margin {
  margin: 0;
}

.title_header-margin {
  margin: 0 0 185px;
}

.title_fotter-margin {
  margin: 55px 0 55px 55px;
}

/* Стили фона */
.backgroung-img {
  position: relative;
}

.backgroung-img::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url("../img/background.png");
  opacity: 0.1;
}

.backgroung-color-light::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;

  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;

  background-color: var(--light);
}


.backgroung-color-brown::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;

  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;

  background-color: var(--brown);
}

.backgroung-color-white {
  background-color: var(--white);
}

.backgroung-color-light-dark {
  background-color: var(--light-dark);
}



/* Стили для секций */
.container {
  position: relative;
  width: 1110px;
}

.container_normal {
  padding: 100px 0;
  margin: 0 auto;
}

.container__header-section-paragraph {
  margin-bottom: 0;
}

.container__header-img {
  height: 525px;

  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;
}

.container__header-button {
  display: inline-block;
  width: 100px;
  padding: 12px 24px;
  margin-top: 40px;

  background-color: var(--orange);

  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
}

.container__header-button:hover {
  background: var(--dark-orange);
}


.container_video-section-padding {
  padding-top: 200px;
}

.container__video {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: relative;
  margin-bottom: -200px;
}

.container__video-section-paragraph {
  margin: 30px 0;
}


.container__image-section {
  box-sizing: border-box;
  margin-bottom: 100px;
}

.container__image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.container__section-paragraph {
  margin: 0;
}

.container__section-title {
  margin: 0 0 30px;
}

.container__about-title {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;

  padding: 5px 10px;
  margin: 0 0 20px;
}

.container__about-title_brown {
  color: var(--white);
  background-color: var(--brown);
}

.container__about-title_white {
  color: var(--brown);
  background-color: var(--white);
}

/* Секция навигации */
.navigation-section {
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-section__item {
  display: block;
  width: 350px;
  box-sizing: border-box;
}

.navigation-section__item_margin-bottom {
  margin-bottom: 20px;
}

.navigation-section__link {
  background-color: var(--light);

  padding: 24px;

  color: var(--dark);
  text-decoration: none;
}

.navigation-section__link:hover {
  background-color: var(--orange);
}

.navigation-section__link:hover > * {
  color: var(--white);
}

.navigation-section__paragraph {
  margin-bottom: 0;
}

.navigation-section__big-number {
  font-size: 64px;
  line-height: 1;
  color: var(--light-dark);

  margin: 0 0 40px;
}

/* Форма fotter */
.footer-form {
  background-color: var(--light-dark);
  margin-bottom: 60px;
}

.footer-form__input-container {
  margin: 40px 55px 40px 0;
}

.footer-form__input-label {
  display: block;
  margin-bottom: 9px;

  font-size: 18px;
}

.footer-form__input-field {
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  border: none;
}

.footer-form__input-submit-button {
  height: 50px;
  width: 70px;

  padding: 0;
  border: none;

  background-color: var(--orange);
}

.footer-form__input-submit-button::before {
  content: url("../img/send.svg");
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.footer-form__services-text {
  margin: 0;
  font-size: 12px;
}

.footer-contacts {
  font-size: 14px;
  color: black;
}

/* Стили для Flex */
.flex-container {
  display: flex;
}

.flex-container_column {
  flex-direction: column;
}


.flex-container__item {
  flex-basis: 50%;
}

.flex-container__fill-item {
  flex-grow: 1;
}

.flex-container__item_left-margin {
  margin-left: 30px;
}
